<header class="navbar">
  <div class="navbar-inner">
    <a class="navbar-brand" routerLink="/projetos">
      <div class="brand-icon">
        <img src="logo2.jpeg" alt="VOX" class="brand-logo" />
      </div>
      <div class="brand-text">
        <span class="brand-vox">VOX</span>
        <span class="brand-cidadao">CIDADÃO</span>
      </div>
    </a>

    <nav class="navbar-nav">
      <a
        routerLink="/projetos"
        routerLinkActive="active"
        class="nav-link"
      >Projetos em votação</a>

      <a
        routerLink="/sugestoes"
        routerLinkActive="active"
        class="nav-link"
      >Sugestões</a>

      <a
        routerLink="/comunidade"
        routerLinkActive="active"
        class="nav-link"
      >Comunidade</a>

      <a
        routerLink="/perfil"
        routerLinkActive="active"
        class="nav-link"
      >Meu Perfil</a>
    </nav>
  </div>
</header>
